In [5]:
#Heart_failure_datasetCombined = pd.concat([Heart_failure_dataset1,Heart_failure_dataset2],sort=True)

In [6]:
#Heart_failure_datasetCombined.to_csv("Heart_failure_datasetCombined.csv")

In [1]:
import pandas as pd

import numpy as np
import os

In [2]:
filepath1 = os.path.join("heart_failure_clinical_records_dataset.csv")
filepath2 = os.path.join("datasets_33180_43520_heart.csv")

In [3]:
Heart_failure_dataset1= pd.read_csv(filepath1)
Heart_failure_dataset2 = pd.read_csv(filepath2)
Heart_failure_dataset2.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
Heart_failure_datasetB = Heart_failure_dataset1['sex'].value_counts().to_frame().transpose()
Heart_failure_datasetB.rename(columns = {0:'Female', 1:'Male'},inplace = True)

In [7]:
Heart_failure_datasetB.head()

     Male  Female
sex   194     105